.container {
  width: 1000px;
  height: 420px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  max-height: 400px;
  overflow: hidden;
  padding: 0px
}

.slick-slider {
  width: 100%;
  height: 100%;
  
}

.slick-list {
  width: 100%;
  height: 100%;
}

.slick-slide {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.slick-slide img {
  width: 100%;
  height: 100%;
}
